<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="UTF-8"></meta>
		<title>Gruppe 13</title>
		<!-- CSS stylesheet -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
		<!-- JS scrip -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		{% load static %}
		<link rel="stylesheet" href="{% static 'styles.css' %}"
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<ulclass="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link">Profil</a></li>
					<li class="nav-item"><a class="nav-link">Info</a></li>
					<li class="nav-item"><a class="nav-link">Hjelp</a></li>
				</ul>
			</nav>
		</header>
		<h1>Bompengebrikke for sykkel</h1>
		<h3>-utviklet av gruppe 13</h3>
		<p>Dette skal være en visuell presentasjon av data vi samler og vil presentere til bruker</p>
		<img src="https://res.cloudinary.com/dn48u8zii/image/upload/v1601538049/ELSYS_Forelesning-20_g0o40m.jpg" 
		alt="Konsept bilde" width="50%" height="50%">
	</body>
</html>

