<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"></meta>
        <title>Gruppe 13</title>
        {% load static %}
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<!-- CSS stylesheet -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
		<!-- JS scrip -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		
	</head>
	<body>
        <div style="width:1000px;">
          
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="https://miljopakken.no/">Miljøpakken</a></li>
					<li class="nav-item"><a class="nav-link" href="https://elsys.blog/">elsys.blog</a></li>
				</ul>
			</nav>
		</header>
		<h1>POSBOM - Positiv bombrikke for sykkel</h1>
        <h3>-utviklet av gruppe 13</h3>
        <hr>

        <div style="width:500px; float:left;">
        <h2>Om prosjektet</h2>
        <p>Vi har fått i oppgave av Miljøpakken å utvikle en prototype som skal få flere folk i Trondheim til å gå eller sykle
            i stedet for å kjøre bil. Vi har løst dette ved å lage en "postitiv bombrikke". Tanken er at en bruker skal feste
            bombrikken på sykkelen, og når brukeren passerer en bomstasjon med sykkelen får hen poeng for å ha syklet i stede for å kjøre.
            Denne nettsiden er for å demonstrere vår første prototype av dette prosjektet.
        </p>
        <hr>
        <img src="https://res.cloudinary.com/dn48u8zii/image/upload/v1605609896/System_konsept_-5_clmyg9.jpg" 
        alt="Konsept bilde" width="100%" height="100%">
        </div>
        <div style="width:400px; float:right;">
        <h2>Data-tabell</h2>
        <p>Denne tabellen viser når bombrikken har passert bomstasjon, og viser hvert tilfelle med 8-sifret ID, dato og tidspunkt.
            Tabellen viser de 50 nyeste passeringene, sortert fra nyeste til eldst.
        </p>
            	<table border="1">
                <thead>
                  <tr>
                    <th style="padding:0 15px 0 15px;">ID</th>
                    <th style="padding:0 15px 0 15px;">Dato</th>
                    <th style="padding:0 15px 0 15px;">Timestamp</th>
                  </tr>
                </thead>
                {% for sensor in all_sensor_data %}
                    <tbody>
                    <tr>
                        <td style="padding:0 15px 0 15px;">{{sensor.sensor_id}}</td>
						<td style="padding:0 15px 0 15px;">{{sensor.datestamp}}</td>
						<td style="padding:0 15px 0 15px;">{{sensor.timestamp}}</td>
                    </tr>
                    </tbody>
                {% endfor %}
                </table>
            </div>
        </div>
        <div style="clear: both;"></div>
	</body>
</html>

